<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Потверждение регистрации завершена</title>
    include css.html
  </head>
  body.center-body
    div
      h1.text-decorator Регистрация завершена
      p Поздравляем, ты завершил регистрацию, теперь ты можешь начать пользоваться нашими сервисами с авторизацией :)
      a(href="/") Перейти на главную
</html>