<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Потверждение регистрации</title>
    include css.html
  </head>
  <body>
    div.card
      div.div-child
        h1 Привет, 
          span.text-decorator #{login}
        p Для того чтобы завершить регистрацию тебе нужно потвердить свой email перейдя по ссылке:
        a(href=link) Потвердить электронную почту
    div.text-center Music API | #{year}
  </body>
</html>